export(E.)
export(Edev2.)
export(Edist)
export(R2.)
export(cm.)
export(cor.)
export(coskew.)
export(cov.)
export(dev.)
export(dev2.)
export(int.)
export(reg.)
export(sd.)
export(skew.)
export(var.)
export(z.)
